[Unit]
Description=Api Service
After=network.target

[Service]
Type=simple
User=centos
WorkingDirectory=/usr/share/api
ExecStart=/bin/java -jar /usr/share/api/api.jar
Restart=always

[Install]
WantedBy=multi-user.target